@font-face {
    font-family: "Playfair Display";
    src:  local("Playfair Display"),
    url(/assets/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}
html {
    font-family: "Playfair Display";
}